.principal{
    position: absolute;
    float: left;
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
    height: 100%;
}

.menu{
    width: 25%;
    height: 100%;
    float: left;
    border-right-style: groove;
}

table{
    margin-top: 1%;
}

table tbody,
table thead {
  display: block;
}
table tbody {
    overflow: auto;
    height: 400px;
}
table td{
    width: 100%;
    
}

table{
    border-style: groove;
    border-color: aliceblue;            
    
}

.table tr{
    cursor: pointer;
}
.table tr:hover{
    background-color: green;
    color: white;
    font-weight: bold;
}



.historico{
    width: 75%;
    height: 100%;
    float: left;
}

@media only screen and (max-width: 530px){
    .menu{
        width: 100%;
        height: 30%;
        overflow: scroll;
    }
    .historico{
        width: 100%;
    }
}