.container{
    margin-top: 10%;
}
.container a{
    color: darkgreen;
    font-weight: bold;
}

.container li{
    margin-top: 2%;
    list-style: none;
    border-style: groove;
    border-color: cadetblue;
    border-radius: 15px;
}
.container img{
    width: 7%;
    border-radius: 80px;
    margin-right: 5%;
}
.container li:hover{
    background-color: cadetblue;
    cursor: pointer;
    color: white; 
}
.container li:hover a{
    color: white;
    font-size: 14pt;
}
