      <div class="navbar-nav">
        <ul>
          <li><a class="nav-item nav-link" routerLinkActive="active"  [routerLink]="['/', {outlets:{aut:['nova']}}]">Nova Autorização </a></li>
          <li><a class="nav-item nav-link" routerLinkActive="active"  [routerLink]="['/', {outlets:{aut:['hist']}}]">Histórico </a></li>
          <li><a class="nav-item nav-link" routerLinkActive="active"  [routerLink]="['/', {outlets:{aut:['fechamento']}}]">Fechar Competência</a></li>
          <li><a class="nav-item nav-link" routerLinkActive="active"  [routerLink]="['/', {outlets:{aut:['relatorios']}}]">Relatórios</a></li>
          <li><a class="nav-item nav-link" routerLinkActive="active"  [routerLink]="['/', {outlets:{aut:['autresp']}}]">Suas Autorizações</a></li>
          <li><a class="nav-item nav-link" routerLinkActive="active"  [routerLink]="['/', {outlets:{aut:['lote']}}]">Autorizar em Lote</a></li>
        </ul>
      </div>
    